*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.contain{
    background-image: url('~@/assets/image/admin.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
}
.log{
    border: none;
    position: relative;
    background-color: none;
    width: fit-content;
    height: 285px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 10px;
    color: black;
    h2{
        border-bottom: 3px solid black;
        width: fit-content;
    }
    input{
        border: none;
        outline: none;
        border-bottom: black 2px solid;
        background: transparent;
        color:black;
        font-weight: bold;
        margin-bottom: 20px;
    }
    p{
        font-weight: bold;
        font-size: 18px;
    }
    h2{
        padding-bottom: 5px;
    }
}
button{
    width: 100%;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: green;
    outline: none;
}
button:hover{
    background-color: palevioletred;
    cursor: pointer;
}